TestPlaybooks/playbook-test_mocks_recording.yml
id: 3b819cc1-8c1d-4f83-87c4-34f0fa467134
version: 2
name: test mocks recording
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d2643672-64b9-4b49-80c9-ed22cde45b2a
    type: start
    task:
      id: d2643672-64b9-4b49-80c9-ed22cde45b2a
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: cb4932b3-6d10-4ae1-83d9-cb00e8e1b62f
    type: regular
    task:
      id: cb4932b3-6d10-4ae1-83d9-cb00e8e1b62f
      version: -1
      name: test-recording
      script: Mock_test_integration|||test-recording
      type: regular
      iscommand: true
      brand: Mock_test_integration
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 93b364b7-8f22-4589-85c6-c3b65f0055ee
    type: condition
    task:
      id: 93b364b7-8f22-4589-85c6-c3b65f0055ee
      version: -1
      name: Verify Context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${MockTest.message}
            iscontext: true
          right:
            value:
              simple: record this
    view: |-
      {
        "position": {
          "x": 450,
          "y": 420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: dc859077-08bc-4912-8856-645032033924
    type: title
    task:
      id: dc859077-08bc-4912-8856-645032033924
      version: -1
      name: Passed
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "2_3_yes": 0.54
    },
    "paper": {
      "dimensions": {
        "height": 655,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
